<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FRY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test Host.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestTarget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB25C03B19DF95AA00038E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB25C04B19DF95AA00038E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB35FD1319E4E48000228531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB35FD2E19E4E48000228531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABCF04B71A06AF200000318A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABCF04D21A06AF200000318A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
